<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Wine Name: {{wine.name}}</h1>
    Wine Country: {{wine.country}}

    <div class="">
      <a href="/wines/{{wine._id}}/edit">Edit</a>
      <a href="/wines/{{wine._id}}/delete">Delete</a>
    </div>
  </body>
</html>
